@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2f2a25;
  --foreground: #f8f4ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f2a25;
    --foreground: #f8f4ea;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
